<div class="row">
    <div class="col-xs-9">
        <form>
            <div class="form-group">
                <label for="inputName">Role name</label>
                <div class="row">
                    <div class="col-xs-2">
                        <input id="inputName" class="form-control" type="text" required>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="inputDesc">Desc</label>
                <textarea class="form-control" type="text" id="inputDesc" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
</div>