<h2 class="sub-header">Project</h2>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
                <th>name</th>
                <th>email</th>
                <th>role</th>
                <th>last visited</th>
                <th>create date</th>
                <th>action</th>
			</tr>
		</thead>
		<tbody>
            <tr ng-repeat="user in users">
                <td>{{$index + 1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roleId}}</td>
                <td>{{user.lastVisited | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                <td>{{user.dateCreated | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="deleteUser(user)">delete</button>
                    <button class="btn btn-primary btn-sm" ng-click="">edit</button>
                </td>
            </tr>
		</tbody>
	</table>
</div>

<h2 class="sub-header">Invite user</h2>
<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <form ng-submit="submit()">
            <div class="form-group">
                <label for="inputEmail">email</label>
                <div class="row">
                    <div class="col-xs-2">
                        <input id="inputEmail" class="form-control" type="text" placeholder="project name" ng-model="email" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputDesc">Desc</label>
                <textarea class="form-control" type="text" id="inputDesc" cols="30" rows="10" ng-model="project.desc"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>