<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</div>

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Created date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a ng-href="#issueDetail">1001</a></td>
            <td>首页显示有问题</td>
            <td><span class="label label-danger">high</span></td>
            <td>20:90:90</td>
            <td>
                <button type="button" class="btn btn-default btn-sm">xxx</button>
            </td>
        </tr>
        <tr ng-repeat="bug in bugs">
            <td><a ng-href="#issueDetail">{{$index + 1}}</a></td>
            <td>{{bug.summary}}</td>
            <td><span class="label label-danger">high</span></td>
            <td>{{bug.createdDate}}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm">xxx</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>