<div class="container">
    <form ng-submit="register()">
        <h2 class="form-signin-heading">Please complete your information</h2>

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input id="inputEmail" class="form-control" type="email" placeholder="Email address" ng-model="user.email" required disabled/>
            <input type="hidden" ng-model="user.token"/>
            <input type="hidden" ng-model="user._id">
        </div>

        <div class="form-group">
            <label for="inputUserName">Username</label>

            <input class="form-control" id="inputUserName" type="text" placeholder="Username" ng-model="user.username" required autofocus/>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
        </div>

        <div class="form-group">
            <label for="inputRetypePassword">Retype Password</label>
            <input id="inputRetypePassword" type="password" class="form-control" placeholder="Retype password" ng-model="user.password" required>
        </div>

        <button class="btn btn-default btn-primary" type="submit">Sign up</button>
    </form>
</div>
